In [1]:
import pandas as pd
import numpy as np

In [15]:
df_game_large = pd.read_csv('./Dataset/app_large_split.csv')

In [16]:
len(df_game_large)

6599

In [17]:
df_game_large.head()

,Unnamed: 0,Unnamed: 0.1,reviews,appid,word_seperated_reviews
0,0,0,This game locks up after the first chapter and...,208730,"['This', 'game', 'locks', 'up', 'after', 'the'..."
1,1,1,The old Metroidvania with an interesting visua...,208750,"['The', 'old', 'Metroidvania', 'with', 'an', '..."
2,2,2,DIFFICULTY\nEasy\n\nGRAPHICS\nMeh\n\nBOSS FIGH...,209000,"['DIFFICULTY', 'Easy', 'GRAPHICS', 'Meh', 'BOS..."
3,3,3,I guess this is just not my kind of game. Fans...,209060,"['I', 'guess', 'this', 'is', 'just', 'not', 'm..."
4,4,4,I really enjoy this game and the teamwork mech...,209080,"['I', 'really', 'enjoy', 'this', 'game', 'and'..."

In [5]:
# df_game_large["word_seperated_reviews"] = df_game_large["reviews"].apply(lambda x: x.split())

In [19]:
# df_game_large.head()

In [18]:
# df_game_large.to_csv("./Dataset/app_large_split.csv")

In [2]:
df_user_large = pd.read_csv('./Dataset/user_large.csv')

In [3]:
df_user_large_sub = df_user_large.iloc[:100000]

In [48]:
df_user_large_subcsv = df_user_large.iloc[:100000]
df_user_large_subcsv.to_csv("./Dataset/user_large_sub.csv")

In [4]:
len(df_user_large_sub)

100000

In [5]:
len(df_user_large)

5163475

In [6]:
df_user_large.head()

,Unnamed: 0,steamid,reviews
0,0,76561198147524600,This game locks up after the first chapter an...
1,1,76561198036391642,"I'm a huge Game of Thrones fan, but even that..."
2,2,76561198068984010,zrhhhhhhh is nen hrsn :) uio a4 ui a4 oip Sch...
3,3,76561198130204844,SOMETIMES THE WRITTEN WORD IS STRONGER THEN A...
4,4,76561198054094015,went to applebees tonight and got the chicken...

In [13]:
len(df_user_large.iloc[4]["reviews"].split())

281

In [7]:
df_user_large_sub["word_seperated_reviews"] = df_user_large_sub["reviews"].apply(lambda x: x.split())

C:\Users\shura\AppData\Local\Temp/ipykernel_13048/13399717.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user_large_sub["word_seperated_reviews"] = df_user_large_sub["reviews"].apply(lambda x: x.split())

In [8]:
df_user_large_sub.head()

,Unnamed: 0,steamid,reviews,word_seperated_reviews
0,0,76561198147524600,This game locks up after the first chapter an...,"[This, game, locks, up, after, the, first, cha..."
1,1,76561198036391642,"I'm a huge Game of Thrones fan, but even that...","[I'm, a, huge, Game, of, Thrones, fan,, but, e..."
2,2,76561198068984010,zrhhhhhhh is nen hrsn :) uio a4 ui a4 oip Sch...,"[zrhhhhhhh, is, nen, hrsn, :), uio, a4, ui, a4..."
3,3,76561198130204844,SOMETIMES THE WRITTEN WORD IS STRONGER THEN A...,"[SOMETIMES, THE, WRITTEN, WORD, IS, STRONGER, ..."
4,4,76561198054094015,went to applebees tonight and got the chicken...,"[went, to, applebees, tonight, and, got, the, ..."

In [9]:
len(df_user_large_sub)

100000

In [10]:
df_user_large_sub.to_csv("./Dataset/user_large_split.csv")

In [20]:
df_user_large_sub.iloc[99999]

Unnamed: 0                                                            99999
steamid                                                   76561197960561520
reviews                    Highly entertaining rogue-like.  Pixel art an...
word_seperated_reviews    [Highly, entertaining, rogue-like., Pixel, art...
Name: 99999, dtype: object

### Doc2Vec

In [20]:
list_of_list_of_words_users = list(df_user_large_sub["word_seperated_reviews"])
list_of_list_of_words_games = list(df_game_large["word_seperated_reviews"])

In [21]:
total_list_of_list_of_words = list_of_list_of_words_users + list_of_list_of_words_games

In [34]:
(len(total_list_of_list_of_words)/100)*60

63959.4

In [23]:
len(list_of_list_of_words_users)+len(list_of_list_of_words_games)

106599

In [24]:
!pip install gensim

Requirement already satisfied: gensim in c:\users\shura\miniconda3\lib\site-packages (4.1.2)
Requirement already satisfied: numpy>=1.17.0 in c:\users\shura\miniconda3\lib\site-packages (from gensim) (1.20.3)
Requirement already satisfied: scipy>=0.18.1 in c:\users\shura\miniconda3\lib\site-packages (from gensim) (1.7.1)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\shura\miniconda3\lib\site-packages (from gensim) (5.2.1)
Requirement already satisfied: Cython==0.29.23 in c:\users\shura\miniconda3\lib\site-packages (from gensim) (0.29.23)

In [25]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
import gensim
# import gensim.downloader as api

In [26]:
def tagged_document(list_of_list_of_words):
    for i,list_of_words in enumerate(list_of_list_of_words):
        yield gensim.models.doc2vec.TaggedDocument(list_of_words,[i])
        
# data_for_training = list(tagged_document())

In [39]:
# import random
# rand_total_list_of_list_of_words = random.sample(total_list_of_list_of_words,int((len(total_list_of_list_of_words)*60)/100))

data_for_training = list(tagged_document(total_list_of_list_of_words))
print(data_for_training[0])

TaggedDocument(['This', 'game', 'locks', 'up', 'after', 'the', 'first', 'chapter', 'and', 'I', 'was', 'refused', 'a', 'refund.', 'Let', 'the', 'buyer', 'beware!'], [0])

In [40]:
len(data_for_training)

106599

In [41]:
model = gensim.models.doc2vec.Doc2Vec(vector_size=100,min_count=4,epochs=15)
model.build_vocab(data_for_training)

In [42]:
model.train(data_for_training,total_examples=model.corpus_count,epochs=model.epochs)

In [43]:
model.save("model28_11.model")

In [47]:
len(model.dv)

106599